<a href="https://colab.research.google.com/github/rahiakela/nlp-research-and-practice/blob/main/python-regex-works/02_text_processing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##Text processing

In [1]:
import re

In [5]:
text_data ="""101, Homework; Complete physics and math
some random nonsense
102, Laundry; Wash all the clothes today
54, random; record
103, Museum; All about Egypt
1234, random; record
Another random record
"""

In [6]:
regex = re.compile(r"(\d{3}), (\w+); (.+)")

for line in text_data.split("\n"):
  matchs = regex.match(line)
  if matchs:
    print(f"{'Matched:':<12}{matchs.group()}")
  else:
    print(f"{'No Match:':<12}{line}")

Matched:    101, Homework; Complete physics and math
No Match:   some random nonsense
Matched:    102, Laundry; Wash all the clothes today
No Match:   54, random; record
Matched:    103, Museum; All about Egypt
No Match:   1234, random; record
No Match:   Another random record
No Match:

In [8]:
# Extracting data from individual groups
tasks = []
for line in text_data.split("\n"):
  matchs = regex.match(line)
  if matchs:
    task = (matchs.group(1), matchs.group(2), matchs.group(3))
    tasks.append(task)

tasks

[('101', 'Homework', 'Complete physics and math'),
 ('102', 'Laundry', 'Wash all the clothes today'),
 ('103', 'Museum', 'All about Egypt')]

In [9]:
# Using named groups to extract data
regex = re.compile(r"(?P<task_id>\d{3}), (?P<task_title>\w+); (?P<task_desc>.+)")

tasks = []
for line in text_data.split("\n"):
  matchs = regex.match(line)
  if matchs:
    task = (matchs.group("task_id"), matchs.group("task_title"), matchs.group("task_desc"))
    tasks.append(task)

tasks

[('101', 'Homework', 'Complete physics and math'),
 ('102', 'Laundry', 'Wash all the clothes today'),
 ('103', 'Museum', 'All about Egypt')]